.careerBoxContainer {

}
.careerBox {
  background: linear-gradient(0deg, rgb(224, 224, 224), rgb(243, 243, 243));
  border-radius: 1rem;
  margin-top: 1rem;
}

.careerBox .careerBox_title {
  background: linear-gradient(0deg, rgb(70, 70, 70), rgb(112, 112, 112));
  border-radius: 1rem 1rem 0 0;
  border-bottom: 3px solid rgb(252, 113, 0);
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}
.careerBox .careerBox_title h2 {
  font-size: 1rem;
  margin-left: 0.5rem;
}
.careerBox .careerBox_title .careerBoxForm {
  background-color: rgb(52, 146, 223);
  border-radius: 0.3rem;
  color: black;
  font-size: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 1rem;
  line-height: 1.3rem;
  height: 1.2rem;
  color: white;
  font-weight: 500;
}
.careerBox .careerBoxProgram {
  font-weight: 500;
  margin-left: -0.5rem;
}
.careerBox .careerBox_content {
  padding: 0.5rem 1rem 1rem 1rem;
}
.careerBox .careerBoxSkillsContainer {
  margin-top: 0.5rem;
}
.careerBox .careerSkill {
  background-color: rgb(199, 7, 173);
  border-radius: 0.5rem;
  padding-left: 0.4rem;
  padding-right: 0.5rem;
  padding-bottom: 0.1rem;
  margin-right: 0.3rem;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
}