.careerBoxLink {
  text-decoration: none;
}
.careerBoxLink:hover .careerBox {
  opacity: 0.8;
  transition: 400ms;
  color: rgb(128, 128, 128);
}
.careerBoxLink:hover .careerBox_title {
  opacity: 0.8;
  color:rgb(255, 125, 197);
  transition: 400ms;
}
.careerBoxLink:hover .careerSkill {
  opacity: 0.6;
  transition: 400ms;
}
.careerBoxLink:hover .careerBoxForm {
  opacity: 0.5;
  transition: 400ms;
}
.careerBoxContainer {
  color: black;
  text-decoration: none;
}
.careerBox {
  background: linear-gradient(0deg, rgb(231, 231, 235), rgb(231, 231, 235));
  border-radius: 1.5rem;
  margin-top: 1rem;
  transition: 400ms;
}

.careerBox .careerBox_title {
  background: linear-gradient(0deg, rgb(231, 231, 235), rgb(231, 231, 235));
  border-radius: 1.5rem 1.5rem 0 0;
  border-bottom: 2px solid  rgb(255, 255, 255);
  padding: 0.7rem 0.5rem 0.5rem 1rem;
  color: rgb(255, 0, 106);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: 400ms;
}
.careerBox .careerBox_title h2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-left: 0.5rem;
}
.careerBox .careerBox_title .careerBoxForm {
  background-color: rgb(255, 0, 106);
  border-radius: 2rem;
  color: black;
  font-size: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 1rem;
  line-height: 1.3rem;
  height: 1.2rem;
  color: white;
  font-weight: 500;
  transition: 400ms;
}
.careerBox .careerBox_title-fulltime {
  color: rgb(0, 129, 214);
}
.careerBox .careerBox_title-fulltime .careerBoxForm {
  background-color: rgb(0, 129, 214);
}
.careerBoxLink:hover .careerBox_title-fulltime {
  color: rgba(0, 128, 214, 0.664);
}
.careerBox .careerBoxProgram {
  font-weight: 500;
  margin-left: -0.5rem;
}
.careerBox .careerBox_content {
  padding: 0.5rem 1rem 1rem 1.5rem;
}
.skillsContainer {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.careerBoxDetails {
  margin-left: 1rem;
  height: 1.3rem;
}