.detailBoxContainer {
  display: inline-block;
  text-decoration: none;
}
.detailBox {
  background: linear-gradient(-135deg, #f8881e, #e71778);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.7rem 1rem 1rem 1rem;
  transition: 500ms;
}
.detailBox-blue {
  background: linear-gradient(-150deg, #40b8fd, #015eaa);
}
.detailBox_title {
  text-align: center;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  transition: 500ms;
}
.detailBox_title-en {
  line-height: 1rem;
  font-size: 1rem;
  margin-bottom: 0.7rem;
}
.detailBox li {
  background-color: rgb(243, 231, 222);
  display: inline-block;
  margin: 0.15rem 0.1rem;
  color: black;
  border-radius: 1rem;
  line-height: 1rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
  transition: 500ms;
  font-weight: 500;
  font-size: 0.8rem;
}
.detailBox:hover li {
  background-color: rgba(247, 221, 203, 0.658);
  color: rgba(0, 0, 0, 0.616);
  transition: 400ms;
}
.detailBox:hover .detailBox_title {
  color: rgba(255, 255, 255, 0.568);
  transition: 400ms;
}
