.headerContainer {
  background-color: rgba(255, 255, 255, 0.87);
  width: 100%;
  position: fixed;
  z-index: 100;
  border-bottom: 2px solid orange;
}
.header {
  display: flex;
  justify-content: center;
}
.headerInner {
  max-width: 1200px;
  width: 90%;
  margin-left: -1.5rem;
  display: flex;
}
.headerInner a {
  text-decoration: none;
}
.headerLogo {
  margin-right: auto;
  transition: 500ms;
  padding: 0rem 0.7rem;
}
.headerLogo:hover {
  background-color: rgb(63, 63, 63);
  transition: 500ms;
}
.headerLogo_text {
  font-size: 1.35rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-top: 0.8rem;
  transition: 400ms;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
}
.headerLogo:hover .headerLogo_text {
  transition: 400ms;
  color: white;
}

.menu {
  display: flex;
  margin-left: auto;
}
.menu_item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
  transition: 500ms;
  cursor: pointer;
}
.menu_item:hover {
  background-color: rgb(63, 63, 63);
  transition: 500ms;
}
.menu_item:hover .menuText {
  color: white;
  transition: 400ms;
}
.menuText {
  white-space: nowrap;
  text-align: center;
  line-height: 1.2rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  transition: 400ms;
}
.menuText-en {
  text-align: center;
  line-height: 1.0rem;
  font-size: 0.8rem;
}
