.indexTitleContainer {
  margin-top: 6rem;
  font-size: 0.6rem;
}
.indexTitle {
  font-weight: 300;
  width: 10rem;
  background: rgb(65, 65, 65);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem;
  color: white;
}
