.aboutTitleContainer {
  margin-top: 6rem;
  font-size: 0.6rem;
}
.aboutTitle {
  font-weight: 300;
  width: 10rem;
  background: rgb(65, 65, 65);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem;
  color: white;
  z-index: -2;
}
.aboutContainer {
  position: relative;
  overflow: hidden;
  padding-top: 12rem;
  padding-bottom: 18rem;
}
.aboutCopy {
  position: absolute;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  top: 1rem;
  width: 100%;
  text-align: center;
  font-size: 4rem;
}
.aboutContainer:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 70%;
  margin: 0 -10% 0;
  background: linear-gradient(45deg, #ce3f63, #ee7c12);

  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
  z-index: -1;
}
.about {
  box-sizing: border-box;
  width: 100%;
  margin: 1rem auto;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_name {
  display: inline-block;
  font-weight: 700;
  font-size: 1.7rem;
  padding: 0rem 1rem;
  margin-bottom: 2rem;
}
.about_name-en {
  border-left: 1px solid white;
}
.about_univ {
  line-height: 2rem;
  font-weight: 500;
  font-size: 1.1rem;
}
.about_department {
  font-size: 1.1rem;
}
.about_lab {
  font-size: 1.1rem;
}
.about_based {
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.about_based-en {
  margin-bottom: 3rem;
}
