@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

html {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
}

.pageWrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 15rem;
  box-sizing: border-box;
}