table {
  background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 0rem;
}
td {
  padding: 0.2rem 0.5rem;
  font-weight: 500;
  text-align: left;
}
a {
  text-decoration: underline;
  color: rgb(0, 153, 255);
  transition: 400ms;
}
a:hover {
  color: rgb(146, 211, 255);
  transition: 400ms;
}
.background-gray {
  background-color: rgb(238, 238, 238);
}
.whiteSpace {
  height: 1rem;
}
.whiteSpace2 {
  height: 2rem;
}
.whiteSpace3 {
  height: 3rem;
}
.whiteSpace4 {
  height: 4rem;
}
.whiteSpace5 {
  height: 5rem;
}
