table {
  background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 0rem;
}
td {
  padding: 0.2rem 0.5rem;
  font-weight: 500;
  text-align: left;
}
.simpleTableContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.simpleTableContainer table {
  background-color: rgba(255, 255, 255, 0);
  border-collapse: collapse;
}
.simpleTableContainer tr {
  border-top: solid 1px rgb(184, 184, 184);
  border-bottom: solid 1px rgb(184, 184, 184);
  line-height: 1.5rem;
}
.simpleTableContainer td {
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.simpleTableContainer th {
  min-width: 7rem;
  padding-left: 2rem;
}
.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: underline;
  color: rgb(0, 153, 255);
  transition: 400ms;
}
a:hover {
  color: rgb(146, 211, 255);
  transition: 400ms;
}
.background-gray {
  background-color: rgb(238, 238, 238);
}
.whiteSpace {
  height: 1rem;
}
.whiteSpace2 {
  height: 2rem;
}
.whiteSpace3 {
  height: 3rem;
}
.whiteSpace4 {
  height: 4rem;
}
.whiteSpace5 {
  height: 5rem;
}
.italic {
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  font-style: italic;
}
