.profileImageContainer {
  position: relative;
}
.profileImageText {
  position: absolute;
  width: 100%;
  top: 55%;
  transform: translateY(-50%);
  font-weight: 500;
  font-size: 1.3rem;
  text-shadow: 1px 1px 1px rgb(70, 70, 70);
}
.profileImageTextInner {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.profileImage {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
}
.profileTitleContainer {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: rgb(255, 255, 255);
}
.profileTitle {
  font-weight: 700;
  font-size: 2rem;
}
.profileTitle-en {
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-size: 3.5rem;
}
.profileTitleDescription {
  display: flex;
  flex-direction: column;
}
.profileTitleDescription_text {
  font-weight: 500;
  line-height: 2rem;
}