.profileMain {
  padding-top: 1rem;
}
.profileMainInner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.profileContentContainer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.profileContentName {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: solid 2px orangered;
  margin-bottom: 3rem;
}
.profileContentName_text {
  font-size: 2.5rem;
  font-weight: 700;
}
.profileContentName_text-en {
  font-size: 2.5rem;
  margin-left: 1rem;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
}
.profileContentBasicInfo {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.profileContentBasicInfo table {
  background-color: rgba(255, 255, 255, 0);
  border-collapse: collapse;
  margin-top: 2rem;
}
.profileContentBasicInfo tr {
  border-top: solid 1px rgb(184, 184, 184);
  border-bottom: solid 1px rgb(184, 184, 184);
  line-height: 1.5rem;
}
.profileContentBasicInfo td {
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.profileContentBasicInfo th {
  width: 7rem;
  padding-left: 2rem;
}

.profileContentEducation {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.profileContentEducation_order {
  margin-left: auto;
  margin-right: 1rem;
}
.profileContentEducation_table {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, rgb(230, 230, 230), rgb(235, 235, 235));
  border-radius: 0rem;
  margin-top: 1rem;
  padding: 1rem;
}
.profileContentEducation_table table {
  background-color: rgba(240, 240, 240, 0);
  border-collapse: collapse;
  margin: 1rem;
}
.profileContentEducation_table tr {
  line-height: 1.3rem;
}
.profileContentEducation_table td {
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.profileContentEducation_table th {
  width: 12rem;
  padding-left: 2rem;
}

.profileContentCareer {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.profileButtons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1rem;
}
.profileButton {
  margin-left: 0.5rem;
}
.profileContentCareer_table {
  display: flex;
  flex-direction: column;
}
