.heroImageContainer {
  position: relative;
}
.heroImageFilter {
  display: block;
}
.heroImageTitle {
  position: absolute;
  top: 40%;
  width: 100%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px #0000009f;
  font-size: 7rem;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  text-align: center;
}
.heroImageTextBase {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 11rem;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 2rem;
}
.heroImageText {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
  color: rgba(36, 36, 36, 0.877);
}
.heroImageText-ja {
  animation: fadeInOutJa 6.5s ease 0s infinite normal;
  top: 55%;
  font-weight: 700;
}
.heroImageText-en {
  animation: fadeInOutEn 6.5s ease 0s infinite normal;
  top: 55.2%;
  font-weight: 500;
}
.heroImage {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.heroScroll {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: inline-block;
  text-decoration: none;
  padding-top: 60px;
  font-size: 1.5rem;
  cursor: pointer;
}
.heroScroll .heroScroll_sign {
  position: absolute;
  top: 0;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  border: 2px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
  transition: 0.5s;
}
.heroScroll .heroScroll_sign::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
  transition: 0.5s;
}
.heroScroll_text {
  color: white;
  transition: 0.5s;
  font-weight: 300;
}
.heroScroll:hover .heroScroll_sign {
  border: 2px solid rgba(255, 255, 255, 0.6);
  transition: 0.5s;
}
.heroScroll:hover .heroScroll_sign::after {
  border-left: 2px solid rgba(255, 255, 255, 0.6);
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  transition: 0.5s;
}
.heroScroll:hover .heroScroll_text {
  color: rgba(255, 255, 255, 0.76);
  transition: 0.5s;
}

@keyframes fadeInOutJa {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInOutEn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
