.topMain {
  margin-top: 6rem;
}
.topTitleContainer {
  font-size: 0.6rem;
  display: flex;
}
.topTitle {
  font-weight: 300;
  background: rgb(65, 65, 65);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem;
  color: white;
  display: inline-block;
}
.topContentContainer {
  position: relative;
  overflow: hidden;
  padding-top: 12rem;
  padding-bottom: 12rem;
}
.topContentCopy {
  position: absolute;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  top: 1rem;
  width: 100%;
  text-align: center;
  font-size: 4rem;
}
.topContentContainer:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 75%;
  margin: 0 -10% 0;
  background: linear-gradient(45deg, #ce3f63, #ee7c12);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
  z-index: -1;
}
.topContentContainer-blue {
  padding-top: 7rem;
  padding-bottom: 5rem;
}
.topContentContainer-blue:before {
  height: 100%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  background: linear-gradient(45deg, #003e68, #2ab1ff);
}
.topContent {
  box-sizing: border-box;
  width: 100%;
  margin: 0rem auto;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topContent-blue {
  margin-top: 4rem;
}
.topContent_name {
  display: inline-block;
  font-weight: 700;
  font-size: 1.7rem;
  padding: 0rem 1rem;
  margin-bottom: 2rem;
}
.topContent_name-en {
  border-left: 1px solid white;
}
.topContent_univ {
  line-height: 2rem;
  font-weight: 500;
  font-size: 1.1rem;
}
.topContent_department {
  font-size: 1.1rem;
}
.topContent_lab {
  font-size: 1.1rem;
}
.topContent_based {
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.top_based-en {
  margin-bottom: 3rem;
}
.topParagraphContainer {
  margin-top: 2rem;
}
.topParagraph {
  text-align: center;
  font-weight: 500;
}
.topParagraph a {
  text-decoration: underline;
  color: rgb(0, 153, 255);
  transition: 400ms;
}
.topParagraph a:hover {
  color: rgb(146, 211, 255);
  transition: 400ms;
}
