.topMain {
  padding-top: 5rem;
  margin-top: -1rem;
  background-color: rgb(238, 238, 238);
}
.topContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topContent {
  background-color: white;
  box-sizing: border-box;
  width: 90%;
  margin: 0rem auto 3rem auto;
  padding: 2rem;
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topContent_name {
  display: inline-block;
  font-weight: 700;
  font-size: 2.5rem;
  padding: 0rem 1rem;
  margin-top: 2.1rem;
  margin-bottom: 2rem;
}
.topContent_name-en {
  border-left: 1px solid rgb(58, 58, 58);
}
.topContent_univ {
  line-height: 2rem;
  font-weight: 700;
  font-size: 1.2rem;
}
.topContent_department {
  color: rgb(92, 92, 92);
  font-weight: 700;
  font-size: 1.1rem;
}
.topContent_lab {
  font-weight: 700;
  color: rgb(92, 92, 92);
  font-size: 1.1rem;
}
.topContent_based {
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: rgb(92, 92, 92);
}
.top_based-en {
  margin-bottom: 0rem;
}
.topParagraphContainer {
  margin-top: 2rem;
}
.topParagraph {
  text-align: center;
  font-weight: 500;
}